.preloader_main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /*background-color: green;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.preloader {
    width: 100px;
    height: 100px;
    /*background-color: white;*/
}

.dot {
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 15px;
}

.dot_1 {
    -webkit-animation: dot-dot-dot-1 5s linear infinite;
    animation: dot-dot-dot-1 5s linear infinite;
}

.dot_2 {
    -webkit-animation: dot-dot-dot-2 2s linear infinite;
    animation: dot-dot-dot-2 2s linear infinite;
}

.preloader .dot:nth-child(2) {
    animation-delay: .10s;
}

.preloader .dot:nth-child(3) {
    animation-delay: .10s;
}

@keyframes dot-dot-dot-1 {
    0% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    25% {
        -webkit-transform: translate(0, 85px);
        -ms-transform: translate(0, 85px);
        transform: translate(0, 85px);
    }

    50% {
        -webkit-transform: translate(85px, 85px);
        -ms-transform: translate(85px, 85px);
        transform: translate(85px, 85px);
    }

    75% {
        -webkit-transform: translate(85px, 0);
        -ms-transform: translate(85px, 0);
        transform: translate(85px, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}


@keyframes dot-dot-dot-2 {
    0% {
        -webkit-transform: translate(85px, 70px);
        -ms-transform: translate(85px, 70px);
        transform: translate(85px, 70px);

    }
    25% {
        -webkit-transform: translate(85px, -15px);
        -ms-transform: translate(85px, -15px);
        transform: translate(85px, -15px);

    }

    50% {
        -webkit-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }

    75% {
        -webkit-transform: translate(0, 70px);
        -ms-transform: translate(0, 70px);
        transform: translate(0, 70px);
    }
    100% {
        -webkit-transform: translate(85px, 70px);
        -ms-transform: translate(85px, 70px);
        transform: translate(85px, 70px);
    }
}

.hidden {
    display: none;
}